#book-form-img > .label {
    margin-bottom: 10px;
}
#book-edit {
    display: flex;
    column-gap: 20px;
    flex-direction: row;
    align-items: start;
}
@media (min-width: 941px){
    
}
@media (max-width: 940px){
    #book-edit {
        flex-direction: column;
        padding-left:  5%;
        padding-right: 5%;
        width: 90%;
    }
}