@media (max-width: 940px){
    body {
        height: 100lvh;
        max-width: 100%;
    }
    main > section {
        padding: 0;
        height: calc(100vh - 265px);
    }
    #messageri-users {
        width: 100%;
        overflow: auto;
    }
    .messageri-user {
        width: calc(100% - 30px);
    }
    .messages-list {
        flex: 1 1 auto; /* Prend l'espace restant */
        overflow-y: auto;
        justify-content: unset;
    }
    #messages {
        display: flex;
        flex-direction: column;
        overflow: hidden; 
    }

    /* messages-user doit pouvoir s'adapter */
    .messages-user {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow: hidden;
    }

    /* l'en-tête de l'utilisateur reste fixe */
    .user-i {
       flex: 0 0 auto;
    }

    /* zone scrollable */
    .messages-list {
        flex: 1 1 auto;
        overflow-y: auto;
        min-height: 0;
    }

    /* le formulaire reste fixe en bas */
    .message-form {
       flex: 0 0 auto;
    }
}
h2 {
    margin: 25px;
}