.black_link {
    color: #000 !important;
}
.books-list-mob {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
}
.books-list-mob > .card {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    text-align: left;
}
.books-list-mob > .card > div {
    display: flex;
    flex-direction: row;
}
.profil-separator {
    max-width:242px; 
    width: 100%;
}
#user-profil {
    max-width: 1141px;
    width: calc(100% - 40px);
    padding: 20px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
#user-profil > div {
    flex-grow: 1;
}
.profil-info {
    max-width: 341px;
    height: 579px;
}
#user-profil > .user-books-list {
    max-width: 771px;
}
.user-img {
    max-width:242px;
}
.user-books-list {
    padding: 0;
    max-width: 1141px;
    overflow: hidden;
    margin: auto;
}
.user-books-list > table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    
}
.user-books-list > table tr {
    padding: 0 25px;
}
.user-books-list > table tr td,
.user-books-list > table tr th {
    padding: 10px 20px;
}
.user-books-list > table tr td:last-child,
.user-books-list > table tr th:last-child {
    padding-right: 20px;
}
.user-books-list > table > thead th {
    margin-left: 10px;
    font-size: 8px;
}
.user-books-list > table > tbody > tr {
    height: 130px;
    font-size: 12px;
}
.user-books-list > table > tbody > tr:nth-child(even) {
    background-color: var(--table-blue);
}
.user-books-list img {
    width: 78px;
    height: 78px;
}
@media (min-width: 941px){
    
}
@media (max-width: 940px){
    .books-list-mob {
        margin-bottom: 50px;
    }
    .book-main-info-mob {
        column-gap: 15px;
    }
    .book-main-info-mob > img {
        aspect-ratio: 1 / 1;
    }
    .book-main-info-mob > div {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    #user-profil {
        flex-direction: column;
        row-gap: 50px;
        margin-top: 50px;
    }
}
